<div ng-controller="HomeController">
  <div vo-preloader ng-show="loading"></div>

  <form class="form form-view" ng-submit="viewPoll()">
    <div class="field">
      <label class="field_label" for="pin">Poll PIN:</label>
      <input class="field_input" type="text" id="pin" placeholder="11-22-33"
             ng-model="pin"
             autocomplete="off" />
      <div class="field_error" ng-show="error">{{ error }}</div>
    </div>
    <button class="button" type="submit">View</button>
  </form>
</div>
